{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/react-in-jsx-scope": "off", // Para React 17+
    "react/prop-types": ["error"],
    "quotes": ["error", "double"], // Permite double quotes
    "eol-last": ["off"], // Desativa nova linha obrigatória no final do arquivo
    "object-curly-newline": ["off"], // Desativa validação de quebras de linha em objetos
    "no-use-before-define": ["error", { "functions": false }], // Permite o uso de funções antes da definição
    "comma-dangle": ["error", "never"], // Remove a exigência de vírgulas no final
    "semi": ["error", "always"] // Garante ponto e vírgula ao final das linhas
  },
  "settings": {
    "react": {
      "version": "detect" // Detecta a versão do React automaticamente
    }
  }
}
